//===== variable scss =========== //

//== common color variable
$primary-color: #2A338F;
$secondary-color: #F05FA3;
$success-color: #198754;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #000;

//== font family
$font-family-montserrat:"Montserrat", sans-serif;

