<!-- not found page -->
<section class="container-fluid" id="notFoundPage">
    <div class="row">
        <div class="col-md-12 text-center position-absolute top-50 start-50 translate-middle">
            <h1 class="display-1">404</h1>
            <h2 class="card-title text-secondary">Ooops!!</h2>
            <p class="card-text">That page doesn't exit or is unavailable....</p>
            <a class="btn btn-primary px-5 rounded-0 shadow" [routerLink]="['/login']">Go to Previous Page</a>
        </div>
    </div>
</section>
<!-- /not found page -->